{% extends "admin/config.html" %}


{% block primary_content_inner %}
    <h4>{{_('Overall stats')}}</h4>
    <ul>
        <li>{{'Number of Datasets:  ' ~  result['Number of Datasets']}}</li>
        <li>{{'Number of Organizations:  ' ~  result['Number of Organizations']}}</li>
        <li>{{'Number of Groups:  ' ~  result['Number of Groups']}}</li>
        <li>{{'Number of Users (system admins excluded):  ' ~  result['Number of Users']}}</li>
        <li>{{'Number of data resources linked to a machine (device):  ' ~  result['Number of machines resource']}}</li>
        <li>{{'Number of datasets that their data resources are linked to machine (device):  ' ~  result['Number of machines dataset']}}</li>
        <li>{{'Number of data resources linked to a sample:  ' ~  result['Number of samples resource']}}</li>
        <li>{{'Number of datasets that their data resources are linked to a sample:  ' ~  result['Number of samples dataset']}}</li>
        <li>{{'Number of datasets linked to publication(s):  ' ~  result['Number of datasets linked to publication']}}</li>
    </ul>




{% endblock %}